@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页</title>
    <script src="~/Jquery/jquery-3.3.1.js"></script>
</head>
<body>
    <table>
        <tr>
            <td><a href="~/Music/Show">音乐首页</a></td>
            <td><a href="~/Music/Index">音乐管理</a></td>
            <td><a href="~/Music/Add">音乐新增</a></td>
            <td><a href="~/Music/MyMusic">我的音乐</a></td>
        </tr>
        <tr>
            <td><a href="~/Note/Index">日志管理</a></td>
            <td><a href="~/Note/Add">日志新增</a></td>
            <td><a href="~/Note/MyNote">我的日志</a></td>
        </tr>
        <tr>
            <td><a href="~/User/Index">用户首页</a></td>
            <td><a href="~/User/Index">用户管理</a></td>
            <td><a href="~/User/Add">用户新增</a></td>
        </tr>
        <tr>
            <td><a href="~/Role/Index">角色首页</a></td>
            <td><a href="~/Role/Index">角色管理</a></td>
            <td><a href="~/Role/Add">角色新增</a></td>
        </tr>
        <tr>
            <td><a href="~/Module/Index">模块首页</a></td>
            <td><a href="~/Module/Index">模块管理</a></td>
            <td><a href="~/Module/Add">模块新增</a></td>
        </tr>
    </table>
</body>
</html>

