@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页</title>
    <link rel="stylesheet" href="~/layui/css/layui.css">
    <script src="~/Jquery/jquery-3.3.1.js"></script>
    <script src="~/layui/layui.js"></script>
    <script>
        $(function () {
          
        });
    </script>
</head>
<body>
    <table>
        <tr>
            <td><a href="~/User/Index">用户管理</a></td>
            <td><a href="~/User/Add">用户新增</a></td>
            <td>用户管理</td>
        </tr>
        <tr>
            <td><a href="~/Role/Index">角色管理</a></td>
            <td><a href="~/Role/Add">角色新增</a></td>
            <td>用户管理</td>
        </tr>
        <tr>
            <td><a href="~/Module/Index">模块管理</a></td>
            <td><a href="~/Module/Add">模块新增</a></td>
            <td>用户管理</td>
        </tr>
        <tr>
            <td><a href="~/Music/Index">音乐管理</a></td>
            <td><a href="~/Music/Add">音乐新增</a></td>
            <td>用户管理</td>
        </tr>
        <tr>
            <td><a href="~/Singer/Index">歌手管理</a></td>
            <td><a href="~/Singer/Add">歌手新增</a></td>
            <td>用户管理</td>
        </tr>
        <tr>
            <td><a href="~/ChatUser/Index">聊天用户管理</a></td>
            <td><a href="~/ChatUser/Add">聊天用户新增</a></td>
            <td>用户管理</td>
        </tr>
        <tr>
            <td><a href="~/Chat/Index">聊天首页</a></td>
            <td><a href="~/Chat/Add">聊天用户新增</a></td>
            <td>用户管理</td>
        </tr>
        <tr>
            <td><a href="~/Note/Index">日志管理</a></td>
            <td><a href="~/Note/Add">日志新增</a></td>
            <td><a href="~/Note/MyNote">我的日志</a></td>
        </tr>
    </table>
</body> 
</html>