@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>登陆</title>
    <script src="~/Jquery/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="~/layui/css/layui.css" media="all">
    <script src="~/layui/layui.js"></script>
    <script>
        layui.use('form', function () {
            var form = layui.form;
            //监听提交
            form.on('submit(tijiao)', function (data) {
                var Name = $("#Name").val();
                var Password = $("#Password").val();
                //ajax提交，并转到index（首页）界面
                $.ajax({
                    url: "/User/Login",
                    type: "post",
                    data: { Name: Name, Password: Password },
                    dataType: "json",
                    success: function (data) {
                        if (data.State == "success") {
                            window.location.href = '/NoteManage/Index';
                        }
                        else {
                            alert(data.Message);
                        }
                    },
                    error: function () {
                        window.location.href = '/General/Error';
                    }
                });
                return false;
            });
        });
    </script>
</head>
<body>
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">姓名：</label>
            <div class="layui-input-block">
                <input type="text" id="Name" name="Name" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码：</label>
            <div class="layui-input-inline">
                <input type="password" id="Password" name="Password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="tijiao">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</body>
</html>