<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <add name="connstr" connectionString="Data Source=localhost;port=3306;Initial Catalog=notemanage_new;uid=root;password=root;Charset=utf8;Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>